<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jas.mapper.EmployeeMapper">
    <select id="getEmpById" resultType="com.jas.bean.Employee">
        SELECT * FROM t_emp WHERE emp_id = #{id}
    </select>
</mapper>